html {
  background-image: url("../img/backg_3.jpg");
}

.main .information {
  margin-top: 91px;
}

.main .information .container {
  display: flex;
  justify-content: center;
  position: relative;
}

.container__image {
  display: flex;
  flex-direction: column;
}

.container__image img {
  width: 349px;
  height: 557px;
}

.information nav {
  margin-top: 81px;
}

.information__text {
  font-size: 18px;
  font-family: inter-regular;
  width: 62.2%;
  margin-left: 54px;
}

.book__title {
  color: #ffbf1d;
  font-size: 30px;
  font-family: inter-regular;
}

.book__information {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 39px;
}

.book__image img {
  max-width: 409px;
  min-height: 276px;
}

.navigation {
  display: flex;
  gap: 28px;
  color: #959595;
}

.navigation__item:hover {
  color: #fff;
}

.navigation__item-1 {
  display: flex;
  border-bottom: 1px solid #fbc01c;
}

#underline{
  height: 2px;
  background-color: #fbc01c;
}

.navigation__item-2 {
  display: flex;
  border-bottom: 1px solid #fbc01c;
}

.navigation__link {
  cursor: pointer;
}

.text__container {
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 78.3%;
  margin: 0 auto;
}

.text__container .title {
  font-size: 24px;
  color: #fff;
  font-family: inter-regular;
  margin-top: 49px;
}

.text__container .text {
  font-size: 20px;
  font-family: inter-light;
  margin-top: 31px;
}

.next__read {
  display: flex;
  margin-top: 50px;
  color: #ffbf1d;
  font-family: gothampro-medium;
  gap: 11px;
}

.next__read::after {
  content: url("../img/file.svg");
}

.reviews .container {
  width: 73.1%;
  margin: 0 auto;
  margin-top: 51px;
}

.reviews__profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.name__user {
  font-size: 30px;
  line-height: 35px;
  color: #ffbf1d;
}

.star {
  display: flex;
  gap: 13px;
}

.star__item img {
  height: 32px;
  width: 32px;
}

.reviews__text {
  display: flex;
  text-align: justify;
  margin-top: 45px;
}